
.promisefin_checkrate_container{
  max-width:47rem;
  top:100px;
  padding:0 4%;
}


@media screen and (max-width: 768px) {
  .is-block-mobile {
    display: block !important;
  }
  .is-hidden-mobile {
    display: none !important;
  }
  .is-flex-mobile {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (min-width: 769px) {
  .is-block-tablet {
    display: block !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 979px) {
  .is-block-tablet-only {
    display: block !important;
  }
}

@media screen and (max-width: 979px) {
  .is-block-touch {
    display: block !important;
  }
}

@media screen and (min-width: 980px) {
  .is-block-desktop {
    display: block !important;
  }
}

@media screen and (min-width: 980px) and (max-width: 1179px) {
  .is-block-desktop-only {
    display: block !important;
  }
}

@media screen and (min-width: 1180px) {
  .is-block-widescreen {
    display: block !important;
  }
  .is-flex-widescreen {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

