.promisefin_ratecard__title{
  font-size:1.4rem;
  font-weight: 300;
  color: #212121;
  font-family: portrait_regular,Georgia,Serif;
}

.promisefin_ratecard {
  border: 1px dotted #ccc;
  -webkit-border-top-right-radius: 1.5rem;
  -webkit-border-bottom-left-radius: 1.5rem;
  -moz-border-radius-topright: 1.5rem;
  -moz-border-radius-bottomleft: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  padding: 1rem;
  background: #fdfdfd;
  letter-spacing: .01rem;
  box-sizing: border-box;
  line-height: 1.75;
  flex:row;
}
.promisefin_ratecard--left{
  margin-right:2%;
  width:31%;
}

.promisefin_ratecard--center{
  width:33%
}

.promisefin_ratecard--right{
  width:31%;
  margin-left:2%;
}
